html {
    background-color: #d3d3d3 !important;
}

body {
    background-color: transparent !important;
    position: relative;
}

a {
    color: #428c46;
}

a:hover,
a:focus {
    color: #327635;
}

#container {
    margin-top: 54px;
}

.account .cover {
    top: 116px;
}

#panel {
    padding-bottom: 2em;
}

#panel .navbar {
    min-height: 104px !important;
}

#panel .navbar .container {
    margin-top: 56px;
}

#panel .navbar #user_label {
    margin-top: -4px;
}

#panel .navbar .navbar-nav {
    margin-bottom: 0;
}

#panel .navbar .navbar-nav .navbar-form {
    margin-top: 4px;
}

#panel .navbar .navbar-nav>li>a {
    padding: 10px;
}

#panel .navbar #logged-in-menu,
#panel .navbar #logged-out-menu {
    margin: 0 60px 0 0;
}

#panel .navbar #mobile-menu {
    margin-top: 44px;
}

#sweetp-wrapper {
    min-height: calc(~"100vh - 100px");
    background: #fff;
}

#sweetp-footer {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    background-color: #d3d3d3;
    padding: 15px;
    color: #474747;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media (max-width: 991px) {
    #sweetp-footer {
        padding-bottom: 70px;
    }
}

#sweetp-footer ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    text-align: left;
}

#sweetp-footer p {
    margin-bottom: 0;
    line-height: 1em;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    letter-spacing: 0.1px;
    font-feature-settings: normal;
}

#sweetp-footer a:link,
#sweetp-footer a:visited {
    background: inherit;
    color: #429c46;
    text-decoration: none;
}

#sweetp-footer ul li:last-child {
    margin-bottom: 2em;
}

.topic .pagination-block .wrapper {
    color: #444;
}

.topic .pagination-block .progress-bar,
.btn-primary,
.btn-primary:focus,
.btn-info,
.btn-info:focus,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled].focus
.btn-primary[disabled],
.btn-primary[disabled].active
.btn-primary[disabled].focus {
    background-color: #428c46 !important;
}

.btn-primary:hover,
.btn-info:hover,
.btn-primary[disabled].hover,
.btn-info[disabled].hover {
    background-color: #327635 !important;
}

.btn-primary {
    margin-bottom: 0.5em;
}

.composer .mobile-navbar {
    background: #428c46 !important;
}

.composer.resizable {
    z-index: 10000;
}

.posts div.content h1,
.posts div.content h2,
.posts div.content h3,
.posts div.content h4,
.posts div.content h5,
.posts div.content h6 {
    margin-top: 3em;
}

/* linkopacity */
a.linkopacity img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    border: none;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

a.linkopacity:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    border: none;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

/* end linkopacity */
@media (max-width: 991px) {
    html.composing .composer {
        padding-top: 116px;
    }
}

@media screen and (max-width: 767px) {
    #panel .navbar .container {
        margin-top: 22px;
    }

    #panel #mobile-chats {
        margin: 42px 0 0 0 !important;
        float: left !important;
    }

    .slideout-menu {
        top: 116px !important;
    }
}

@media screen and (max-width: 530px) {
    #sweetp-footer ul li {
        text-align: center;
    }

    #sweetp-footer ul li:first-child {
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .pull-right .btn {
        padding: 6px 10px !important;
    }
}